*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:white;
overflow-x:hidden;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 10%;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

.navbar a{
color:white;
text-decoration:none;
}

.logo{
color:#38bdf8;
font-weight:700;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.name{
color:#38bdf8;
}

.btn{
margin-top:25px;
padding:14px 30px;
background:#38bdf8;
color:black;
border-radius:8px;
text-decoration:none;
transition:.3s;
}

.btn:hover{
transform:scale(1.1);
}

section{
padding:90px 10%;
text-align:center;
}

.project-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

.card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);

padding:35px;

width:260px;

border-radius:12px;

transform-style:preserve-3d;

transition:transform .3s;

}

.card:hover{
transform:rotateY(10deg) rotateX(10deg) scale(1.05);
}

.cert-container{
display:flex;
flex-wrap:wrap;
gap:25px;
justify-content:center;
}

.cert-card{
background:rgba(255,255,255,0.05);
padding:25px;
border-radius:12px;
width:260px;
}

.highlight{
border:2px solid #38bdf8;
box-shadow:0 0 20px rgba(56,189,248,.4);
}

.bar{
background:#1e293b;
height:10px;
border-radius:5px;
margin-bottom:20px;
}

.progress{
height:10px;
background:#38bdf8;
border-radius:5px;
}

.python{width:90%;}
.django{width:85%;}
.web{width:85%;}
.ml{width:75%;}
.android{width:70%;}

#typing::after{
content:"|";
animation:blink 1s infinite;
}

@keyframes blink{
0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}

footer{
text-align:center;
padding:30px;
}

.reveal{
opacity:0;
transform:translateY(40px);
transition:all .8s ease;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}